.app-content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    margin: 12px;
}

.app-content__inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 24px;
}
